* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    overflow-x: hidden;
}
.hero {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.container {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
}

.hero header {
    padding: 40px 0 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.hero header .logo h3 a {
    display: block;
    color: #194da1;
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
}

/* Hamburger Menu */
.hero header nav .ham {
    height: 24px;
    width: 24px;
    position: absolute;
    right: 3%;
    top: 45px;
    z-index: 5;
    background: tomato;
    cursor: pointer;
    display: none;
}
.hero header nav .ham span {
    display: block;
    width: 100%;
    height: 3px;
    background: #1e56a3;
    transition: .3s;
    transition-property: transform, opacity;
}
.hero header nav .ham span:nth-child(2) {
    margin: 7px 0;
}

.hero header nav .nav-list {
    list-style: none;
}
.hero header nav .nav-list li {
    display: inline-block;
}
.hero header nav .nav-list li a {
    display: inline-block;
    text-decoration: none;
    color: #292d33;
    margin-right: 55px;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid transparent;
    transition: .3s;
}
.hero header nav .nav-list li:not(:last-child) a:hover,
.hero header nav .nav-list li:not(:last-child) a:focus {
    border-bottom: 2px solid #292d33;
}
.hero header nav .nav-list li.active a {
    border-bottom: 2px solid #292d33;
}
.hero header nav .nav-list li.btn a {
    color: #1e56a3;
    background: transparent;
    border: 2px solid #1e56a3;
    padding: 10px 32px;
    line-height: 1.1;
}
.hero header nav .nav-list li.btn:hover a {
    color: #ffe299;
    background: #1e56a3;
    border: 2px solid #1e56a3;
    transition: .3s;
}

.hero .banner {
    padding-top: 200px;
}
.hero .banner .text {
    margin-bottom: 40px;
    margin-bottom: 230px;
}
.hero .banner .text h1 {
    font-size: 68px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
    color: #1e56a3;
    padding: 15px 0 15px;
}
.hero .banner .text h2 {
    color: #292d33;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 4px;
}
.hero .banner .text p {
    max-width: 100%;
    width: 400px;
    color: #292d33;
    line-height: 1.5;
    margin-bottom: 20px;
}

.hero .banner .text button {
    color: #ffe299;
    background: #1e56a3;
    border: none;
    padding: 12px 32px;
    line-height: 1.1;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}
.hero .banner .text button:hover {
    transform: scale(1.1);
    transition: .3s;
}

/* Connect */
.hero .banner .connect {
    padding-bottom: 50px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}
.hero .banner .connect p {
    font-size: 15px;
    margin-right: 60px;
    font-weight: 700;
    color: #292d33;
    position: relative;
}
.hero .banner .connect p:after {
    position: absolute;
    content: "";
    border: 1px solid #1e56a3;
    width: 25px;
    top: 50%;
    right: -43px;   
}
.hero .banner .connect .links a {
    display: inline-block;
    margin-right: 15px;
    color: #1e56a3;
    font-size: 18px;
    transition: .3s;
}
.hero .banner .connect .links a:hover {
    transform: rotate(360deg);
    transition: .6s;
}